#board div {
    background-color: black;
    border: 1px solid grey;
    box-sizing: border-box;
    float: left;
    width: 24px;
    height: 24px;
}

#board {
  width: calc(26 * 24px);
  margin: auto;
}

#board .snake {
  background-color: green;
}
